extend layout
block content
  p
    | Below are your results for your search: #{topic}
    
  block scripts  
   script(src="https://code.jquery.com/jquery-3.3.1.min.js", defer)
   script(src="js/index.js", defer)